
<h1><%=_('Product Assessment').html_safe%></h1>
   <div class="content_skin">
    <div class="top_menu last" style="width:100%;text-align:center;"> 
      <ul style="padding-right:20px;padding-left:0px">
      <!--  <li><a href="<%=graphic_url(@product)%>"><%=_('RESULTS')%></a></li> -->        
        <li style="width:25%;"><a style="padding-top:20px;padding-bottom:20px;background-color:#2B4950" href="<%=product_result_url(@product)%>"><%=_('RESULTS').html_safe%></a></li>
        <li style="width:25%;"><a style="padding-top:20px;padding-bottom:20px;background-color:#2B4950" href="<%=data_quality_intro_path(@product)%>"><%=_('DATA QUALITY').html_safe%></a></li>
        <li style="width:25%;"><a style="padding-top:20px;padding-bottom:20px;background-color:#2B4950" href="<%=scenario_url(@product)%>"><%=_('DATA ENTRY').html_safe%></a></li>
        <li style="width:25%;"><a style="padding-top:20px;padding-bottom:20px;background-color:#2B4950" href="<%=production_intro_path(@product)%>"><%=_('INTRODUCTION').html_safe%></a></li>
      </ul>
    </div>
    <div class="clear"></div>      
  </div>
</div>
<div style="text-align:center">
<%= image_tag("logos/esquema_electronics.png", :border=>0, :width => 400)%>
<br/><br/>   