<script type="text/javascript">
    $(document).ready(function(){
        $("#material_data_material_id").change(function(){
           var id_value_string = $(this).val();
           if (id_value_string != "") {
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'unit_for_material'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                        alert(error);
                    },
                    success: function(data){
                       document.getElementById("unit_span").innerHTML = "" + data; 
                       }
                    }); 
              }
         });       
    
        $("#material_data_family_id").change(function(){
            var id_value_string = $(this).val();
            if ((id_value_string == "") ||  (id_value_string == null)) {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("#material_data_material_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("#material_data_material_id");
            }
            else {
                var text_selected = $("#material_data_family_id option[value='" + id_value_string + "']").text();
                var div_display = document.getElementById("div_display");
                var div_quantity = document.getElementById("div_quantity");
                if (text_selected == 'Display') {
                   div_display.style.display = 'block';
                   div_quantity.style.display = 'none';
                   $("#material_data_material_id option").remove();
                } else {
                   div_display.style.display = 'none';
                   div_quantity.style.display = 'block';
                           
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'materials_for_family'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                    //    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                       $("#material_data_material_id option").remove();
                       var row;                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.material.id + "\">" + j.material.name + "</option>";  
                            $(row).appendTo("select#material_data_material_id");                    
                        }); 
                        $("#material_data_material_id").change();          
                     }
                });
                 }
             };   
           });     
           
        $("#material_data_data_module_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("#material_data_family_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("#material_data_family_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'families_for_module', stage: 'Materials'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                    //    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                       $("#material_data_family_id option").remove();
                       var row;                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.family.id + "\">" + j.family.name + "</option>";  
                            $(row).appendTo("select#material_data_family_id");                    
                        });
                        $("#material_data_family_id").change();            
                     }
                });
             };   
           });     




        $("#component_data_material_id").change(function(){
           var id_value_string = $(this).val();
           if (id_value_string != "") {
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'unit_for_material'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                        alert(error);
                    },
                    success: function(data){
                       document.getElementById("unit_span_component").innerHTML = "" + data; 
                       }
                    }); 
              }
         });       
    
        $("#component_data_family_id").change(function(){
            var id_value_string = $(this).val();
            if ((id_value_string == "") ||  (id_value_string == null)) {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("#component_data_material_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("#component_data_material_id");
            }
            else {
                var text_selected = $("#component_data_family_id option[value='" + id_value_string + "']").text();
                var div_display = document.getElementById("div_display_component");
                var div_quantity = document.getElementById("div_quantity_component");
                if (text_selected == 'Display') {
                   div_display.style.display = 'block';
                   div_quantity.style.display = 'none';
                   $("#component_data_material_id option").remove();
                } else {
                   div_display.style.display = 'none';
                   div_quantity.style.display = 'block';
                           
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'materials_for_family'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                    //    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                       $("#component_data_material_id option").remove();
                       var row;                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.material.id + "\">" + j.material.name + "</option>";  
                            $(row).appendTo("select#component_data_material_id");                    
                        }); 
                        $("#component_data_material_id").change();          
                     }
                });
                 }
             };   
           });     
           
        $("#component_data_data_module_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("#component_data_family_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("#component_data_family_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'families_for_module', stage: 'Materials', substage: 'Components'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                    //    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                       $("#component_data_family_id option").remove();
                       var row;                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.family.id + "\">" + j.family.name + "</option>";  
                            $(row).appendTo("select#component_data_family_id");                    
                        });
                        $("#component_data_family_id").change();            
                     }
                });
             };   
           });     


           

        $("#process_data_data_module_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") {
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("#process_data_family_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("#process_data_family_id");
            }
            else {
                // Send the request and update sub category dropdown
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'families_for_module', stage: 'Processes'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                    //    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select
                       $("#process_data_family_id option").remove();
                       var row;                        
                        // Fill sub category select
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.family.id + "\">" + j.family.name + "</option>";  
                            $(row).appendTo("select#process_data_family_id");                    
                        });
                        $("#process_data_family_id").change();            
                     }
                });
             };   
           });     

           
           $("#component_data_data_module_id").change();           
           $("#material_data_data_module_id").change();
           $("#process_data_data_module_id").change();
           
           <% @material_datas.each do |material_data| %>
			   $(".quantity_material_<%=material_data.id%>").editInPlace({
			        url: "/material_datas/update_values" + "?&authenticity_token=" + encodeURIComponent(AUTH_TOKEN),
			        params: "material_data_id=<%=material_data.id%>",
			        saving_text: '<%=_("Saving...")%>'
			        });           
           <% end %>
           
    });
</script>    
    
<h1><%=_('Product Assessment').html_safe%>
<br/><span class="tool_subtitle"><%=_('Data Entry').html_safe%></span>
</h1>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/lca/tabs') %>
	</div>
	
<div class="clear"></div>
   <table>
      <tr>
        <td style="background:#2b4950;color:#EBEEDB;width:25%">
          <b><%=_('Name of the product').html_safe%></b>
        </td>
        <td>  
          <%= @product.name %>
        </td>
      </tr>
    </table>     
    
    <div class="clear"></div>

 <%= form_for @scenario do |f| %>
 
 	<div class="span-10" >
	  <%= f.label :use_lifetime, _('Use lifetime (in case no technical failures occur)').html_safe %>
	</div>  
	<div class="span-8" >
	  <%= f.text_field :use_lifetime%> <%=_('years').html_safe%>
	</div>
	
	<div class="clear"></div>
	
	<br/><br/>
	<%=_('Lifetime reduction due to technical failures:').html_safe%>
	<br/><br/>
	
    <div class="clear"></div>		
		   
 	<div class="span-10" >
	  <%= f.label :annual_failure, _('Annual Device Failure Rate').html_safe %>
	</div>  
	<div class="span-8" >
	  <%= f.text_field :annual_failure%> %
	</div>    
    <div class="clear"></div>	
    <span class="tip_text">
      <%=_('You should change the Annual Device Failure Rate to a lower value only if you are confident, that component choice and system design increase reliability compared to conventional products').html_safe%>    
    </span>
 
    <div class="clear"></div>    
    
 <% end %>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<div class="clear"></div>
    <%= form_for MaterialData.new, :remote => true do |f| %>
	    <fieldset class="empty">
	      <legend><%=_('Materials').html_safe%></legend>
	      <input type="hidden" name="product_id" id="product_id" value="<%=@product.id%>"/>

	      <!-- Module --> 
		  <div class="span-5">    
		     <%= f.label :value, _('Module').html_safe %>
		     <br/>
		     <%= f.text_field :module_text, :value => 'Computer', :size => 8 %>
		     <div style="display:none;">
		         <select id="material_data_data_module_id" name="material_data[data_module_id]">
			     <% @data_modules.each do |data_module| %>
			        <option value="<%=data_module.id%>"><%=data_module.name.html_safe%></option>
			     <% end %>
			     </select>		     
		     </div>
		  </div>

	      
	      <!-- Family -->
		  <div class="span-5">    
		     <%= f.label :value, _('Family').html_safe %>
		     <br/>
		     <select id="material_data_family_id" name="material_data[family_id]">
		     <% @families.each do |family| %>
		        <option value="<%=family.id%>"><%=family.name.html_safe%></option>
		     <% end %>
		     </select>
		  </div>
	      
	      <!-- Material -->
		  <div class="span-5">    
		     <%= f.label :value, _('Material').html_safe %>
		     <br/>
		     <select id="material_data_material_id" name="material_data[material_id]">
		     <% @materials.each do |material| %>
		        <option value="<%=material.id%>"><%=material.name.html_safe%></option>
		     <% end %>
		     </select>
		  </div>
	      
	      <!-- Quantity -->
          <div class="span-5" id="div_quantity"> 
             <%= f.label :value, _('Quantity').html_safe %>
             </br>
             <%= f.text_field :quantity, :size => 8%> &nbsp; <span id="unit_span">Kg</span>
          </div>
	      <div class="clear"></div>
	      
	      <div id="div_display" style="display:none;">
		      <!-- Aspect : ratio -->
	          <div class="span-5"> 
	             <%= f.label :value, _('Aspect : ratio').html_safe %>
	             </br>
	             <%= f.text_field :aspect, :size => 3%> : <%= f.text_field :ratio, :size => 3%> 
	          </div>
	          
		      <!-- Diagonal -->
	          <div class="span-5"> 
	             <%= f.label :value, _('Diagonal').html_safe %>
	             </br>
	             <%= f.text_field :diagonal, :size => 8%> <%=_('inch').html_safe%>
	          </div>
          </div>          
	      <div class="clear"></div>
	      
	      
		  <div class="span-3 buttons last">
		     <button type="submit" class="positive"> <%= image_tag 'tick.png' %><%= _("Add").html_safe %></button>
		  </div>
          <div class="clear"></div>	      
	    </fieldset>
    <% end %>
    
    <table class="standard2">
	  <tr class="add"> 
	    <th>
	      <%=_('Module').html_safe %><br/>
	    </th>
	    <th>
	      <%=_('Family').html_safe %><br/>
	    </th>
	    <th>
	      <%=_('Material').html_safe %><br/>
	    </th>
	    <th style="text-align:center">
	      <%=_('Quantity').html_safe %>
	    </th>
	    <th>
	      <%=_('Unit').html_safe %>
	    </th>
	    
	    <th>
	      &nbsp;
	    </th>
	  </tr>	  
	  <tbody id="materials">
	    <%= render :partial => @material_datas, :locals => { :list => true } %>
	  </tbody>   
	 </table>
    


    <%= form_for ComponentData.new, :remote => true do |f| %>
	    <fieldset class="empty">
	      <legend><%=_('Components').html_safe%></legend>
	      <input type="hidden" name="product_id" id="product_id" value="<%=@product.id%>"/>

	      <!-- Module --> 
		  <div class="span-5">    
		     <%= f.label :value, _('Module').html_safe %>
		     <br/>
		     <%= f.text_field :module_text, :value => 'Computer', :size => 8 %>
		     <div style="display:none;">
		         <select id="component_data_data_module_id" name="component_data[data_module_id]">
			     <% @data_modules.each do |data_module| %>
			        <option value="<%=data_module.id%>"><%=data_module.name.html_safe%></option>
			     <% end %>
			     </select>		     
		     </div>
		  </div>

	      
	      <!-- Family -->
		  <div class="span-5">    
		     <%= f.label :value, _('Family').html_safe %>
		     <br/>
		     <select id="component_data_family_id" name="component_data[family_id]">
		     <% @families.each do |family| %>
		         <option value="<%=family.id%>"><%=family.name.html_safe%></option>   
		     <% end %>
		     </select>
		  </div>
	      
	      <!-- Material -->
		  <div class="span-5">    
		     <%= f.label :value, _('Components').html_safe %>
		     <br/>
		     <select id="component_data_material_id" name="component_data[material_id]">
		     <% @materials.each do |material| %>
		        <option value="<%=material.id%>"><%=material.name.html_safe%></option>
		     <% end %>
		     </select>
		  </div>
	      
	      <!-- Quantity -->
          <div class="span-5" id="div_quantity_component"> 
             <%= f.label :value, _('Quantity').html_safe %>
             </br>
             <%= f.text_field :quantity, :size => 8%> &nbsp; <span id="unit_span_component">Kg</span>
          </div>
	      <div class="clear"></div>
	      
	      <div id="div_display_component" style="display:none;">
		      <!-- Aspect : ratio -->
	          <div class="span-5"> 
	             <%= f.label :value, _('Aspect : ratio').html_safe %>
	             </br>
	             <%= f.text_field :aspect, :size => 3%> : <%= f.text_field :ratio, :size => 3%> 
	          </div>
	          
		      <!-- Diagonal -->
	          <div class="span-5"> 
	             <%= f.label :value, _('Diagonal').html_safe %>
	             </br>
	             <%= f.text_field :diagonal, :size => 8%> <%=_('inch').html_safe%>
	          </div>
          </div>          
	      <div class="clear"></div>
	      
	      
		  <div class="span-3 buttons last">
		     <button type="submit" class="positive"> <%= image_tag 'tick.png' %><%= _("Add").html_safe %></button>
		  </div>
          <div class="clear"></div>	      
	    </fieldset>
    <% end %>
    
    <table class="standard2">
	  <tr class="add"> 
	    <th>
	      <%=_('Module').html_safe %><br/>
	    </th>
	    <th>
	      <%=_('Family').html_safe %><br/>
	    </th>
	    <th>
	      <%=_('Components').html_safe %><br/>
	    </th>
	    <th style="text-align:center">
	      <%=_('Quantity').html_safe %>
	    </th>
	    <th>
	      <%=_('Unit').html_safe %>
	    </th>
	    
	    <th>
	      &nbsp;
	    </th>
	  </tr>	  
	  <tbody id="components">
	    <%= render :partial => @component_datas, :locals => { :list => true } %>
	  </tbody>   
	 </table>



    
<div class="buttons span-23 last">
  <%= form_tag '/production/next_step' do %>
    <input type="hidden" name="product_id" id="product_id" value="<%=@product.id%>"/>	
	<button type="submit" class="positive"> <%= image_tag 'tick.png' %><%= _("Next step").html_safe %></button>
  <% end %>
  </div>    	
    <div class="clear"></div>
    <div class="navbar">
      <!-- <div id="for-ie"> -->
      <div>
        <ul>
          <li><%= link_to _('To introduction').html_safe, production_intro_path(@product) %></li>
          <li><%= link_to _('My products').html_safe, products_path %></li>
          <li><%= link_to _('To results').html_safe, product_result_url(@product) %></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>




</div>	
  
  
  
  