
<html>
<head>
<style type="text/css">
    body {
        font-family: "Myriad Pro","Myriad Web", helvetica, sans-serif;
    }

    table {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
    }
    th2:first-child {
        -moz-border-radius: 6px 0 0 0;
        -webkit-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
    }

    th2:last-child {
        -moz-border-radius: 0 6px 0 0;
        -webkit-border-radius: 0 6px 0 0;
        border-radius: 0 6px 0 0;
    }


    .bordered {
        border-left: solid #2b4950 4px;
        border-right: solid #2b4950 4px;
        border-bottom: solid #2b4950 5px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

    .bordered_white {
        width: 90px;
        background-color:#ffffff;
        border-left: solid #ffffff 4px;
        border-right: solid #ffffff 4px;
        border-bottom: solid #ffffff 3px;
        border-top: solid #ffffff 3px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

    .bordered_gray {
        width: 90px;
        background-color:#71c5c8 !important;
        border-left: solid #71c5c8 4px !important;
        border-right: solid #71c5c8 4px !important;
        border-bottom: solid #71c5c8 5px !important;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }


    .bordered tr {
        border: solid #ccc 3px;
    }

    .bordered_gray tr {
        border: solid #71c5c8 3px;
    }


    .bordered td, .bordered th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 5px;
        text-align: left;
    }

    .bordered_white th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 5px;
        text-align: left;
        background-color:#ffffff;
    }

    .bordered_gray th {
        padding: 5px;
        text-align: left;
        background-color:#71c5c8 !important;
    }


    .bordered th {
        background-color: #2b4950;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#2b4950), to(#2b4950));
        background-image: -webkit-linear-gradient(top, #2b4950, #2b4950);
        background-image:    -moz-linear-gradient(top, #2b4950, #2b4950);
        background-image:     -ms-linear-gradient(top, #2b4950, #2b4950);
        background-image:      -o-linear-gradient(top, #2b4950, #2b4950);
        background-image:         linear-gradient(top, #2b4950, #2b4950);
        border-top: none;
    // text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font-weight: normal;
    }

    .bordered_white th {
        background-color: #ffffff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)) !important;
        background-image: -webkit-linear-gradient(top, #ffffff, #ffffff) !important;
        background-image:    -moz-linear-gradient(top, #ffffff, #ffffff) !important;
        background-image:     -ms-linear-gradient(top, #ffffff, #ffffff) !important;
        background-image:      -o-linear-gradient(top, #ffffff, #ffffff) !important;
        background-image:         linear-gradient(top, #ffffff, #ffffff) !important;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font-weight: normal;
        font-size:13px;
        padding: 5px !important;
    }


    .bordered_gray th {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        background-color: #71c5c8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#71c5c8), to(#71c5c8)) !important;
        background-image: -webkit-linear-gradient(top, #71c5c8, #71c5c8) !important;
        background-image:    -moz-linear-gradient(top, #71c5c8, #71c5c8) !important;
        background-image:     -ms-linear-gradient(top, #71c5c8, #71c5c8) !important;
        background-image:      -o-linear-gradient(top, #71c5c8, #71c5c8) !important;
        background-image:         linear-gradient(top, #71c5c8, #71c5c8) !important;
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font-weight: bold;
        font-size:15px;
        border:0px;
        padding: 5px !important;
    }


    .bordered td:first-child, .bordered th:first-child {
        border-left: none;
    }

    .bordered_white td:first-child, .bordered_white th:first-child {
        border-left: none;
    }

    .bordered_gray td:first-child, .bordered_gray th:first-child {
        border-left: none;
    }

    .bordered_dark {

        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #009da5;
        -moz-box-shadow: 0 1px 1px #009da5;
        box-shadow: 0 1px 1px #009da5;
    }

    .bordered_dark tr {
        border: solid #ccc 3px;
    }

    .bordered_dark td {
        background-color: #009da5;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: left;
    }

    .bordered_dark th {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: left;
    }

    .bordered_dark th {
        border-top: none;
        font-weight: normal;
    }

    .bordered_dark td:first-child, .bordered_dark th:first-child {
        border-left: none;
    }

    .bordered_dark th:first-child {
        -moz-border-radius: 6px 0 0 0;
        -webkit-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
    }

    .bordered_dark th:last-child {
        -moz-border-radius: 0 6px 0 0;
        -webkit-border-radius: 0 6px 0 0;
        border-radius: 0 6px 0 0;
    }

    .bordered_dark th:only-child{
        -moz-border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }

    .bordered_dark tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    .bordered_dark tr:last-child td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
    }





    .bordered_gray th:first-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_gray th:last-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_gray th:only-child{
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_gray tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_gray tr:last-child td:last-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }





    .bordered_white th:first-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_white th:last-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_white th:only-child{
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_white tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }

    .bordered_white tr:last-child td:last-child {
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }



    .title_blue {
        color: #009da5;
        font-weight: bold;
    }

    .title_white {
        color: #ffffff;
        font-weight: bold;
    }


    .td_blue td {
        border-left: 5px solid #2b4950 !important;
        border-top: 5px solid #2b4950 !important;
    }

</style>
</head>
<body>

<table width="845px;" border="0" style="padding-bottom:20px">
  <th style="text-align:left;width:155px">
    <%=absolute_image_tag('logo_lca_to_go.png', :width => 147)%>
  </th>
  <th style="text-align:left;width:155px">
    <%=absolute_image_tag('logos/logo_electronics.png', :width => 147)%>
  </th>
  <th align="right">
    <table class="bordered" style="width:500px;color:#ffffff">
      <th>
        <b><%=_('Organisation').html_safe%>:</b> <%=@product.organisation%><br/>
        <b><%=_('Author').html_safe%>:</b> <%=@product.person_name%><br/>
        <b><%=_('Name of the product').html_safe%>:</b> <%=@product.name%><br/>
        <b><%=_('Version of the product').html_safe%>:</b> <%=@product.version%><br/>
        <b><%=_('Description of the product').html_safe%>:</b> <%=@product.description%><br/>
      </th>
    </table>
  </th>
</table>





<h2><%=_('Comparison').html_safe%></h2>


  <% @indicators_checked.each_with_index do |indicator, index| %>
    <table class="bordered" width="845px;">
        <% if @indicators_checked[index].name == 'Carbon footprint' || @indicators_checked[index].name == 'Copper' || @indicators_checked[index].name == 'Aluminium' || @indicators_checked[index].name == 'Cobalt' || @indicators_checked[index].name == 'Steel '%>
            <th><span class="title_white"><%=@indicators_checked[index].name.html_safe%> (<%=@indicators_checked[index].unit.gsub('<sub>','').gsub('</sub>','').html_safe%>) </span><span style="font-size:12px;font-weight:normal;color:white"> - <%=_('per').html_safe%> <%=@result_type%> </span></th>
        <% else %>
            <th><span class="title_white"><%=@indicators_checked[index].name.html_safe%> (mg)</span> <span style="font-size:12px;font-weight:normal;color:white"> - <%=_('per').html_safe%> <%=@result_type%></span> </th>
        <% end %>


      <% height =  (@phases_selected * 14) + ((@products_checked.size + 1) * @phases_selected) * 14 + 30 %>
      <%

         axis_format = ''
         index_axis = 0
         while index_axis <=  @products_checked.size
           axis_format += 'N*f2*,000000,' + index_axis.to_s + ',-1,11,,:10:'
           if index_axis != @products_checked.size
             axis_format += '|'
           end
           index_axis = index_axis + 1
         end
         # axis_format = 'N*f2*,000000,0,-1,11,,:10:|N*f2*,000000,1,-1,11,,:10:'
      %>
      <tr>
        <td style="text-align:center">
           <img src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chts=2B4950,16,l&amp;cht=bhg&amp;chs=600x<%=height%>&amp;chd=t:<%=@values_array[index]%>&amp;chco=<%=@colors_array.to_s%>&amp;chxt=y&amp;chdl=<%=@compare_products%>&amp;chxt=x,y&&amp;chma=20,20,20,20&amp;chbh=14,0,14&amp;&amp;chm=<%=axis_format.to_s%>&amp;chdlp=r&amp;chxs=1,,11,-1,lt&amp;chxl=1:<%=@compare_titles_to_array%>&amp;chds=a" alt="Grouped chart">

        </td>
      </tr>
      </table>
      <br/>
  <% end %>
      
   <br/><br/>
   <div class="clear"></div>	    

	


</body>

</html>