<h1><%=_('Resend confirmation instructions').html_safe%></h1>

<div class="content_skin">
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>
	
	  <p><%= f.label :email %><br />
	  <%= f.email_field :email %></p>
	
	  <p><%= f.submit _("Resend confirmation instructions").html_safe %></p>
	<% end %>
		
</div>	