<tr id="st_process_data_<%= st_process_data.id %>">
     <td>
	      <% if st_process_data.st_family_process %>
			<%= st_process_data.st_family_process.name.html_safe %>
		  <% else %>
		    <%=_('Other').html_safe%>	
	      <% end %>			
     </td>
     <td>
	      <% if st_process_data.st_process %>
			<%= st_process_data.st_process.name.html_safe %>
	      <% else %> 
	        <%= st_process_data.user_process_name %>		
	      <% end %>		

     </td>
     <td>
          <%= st_process_data.quantity %>
     </td>
     <td>
	      <% if st_process_data.st_process %>
			<%= st_process_data.st_process.unit.html_safe %>
		  <% else %>
		    <%= st_process_data.user_unit %>
	      <% end %>		

     </td>
     
     <td>
       <% if st_process_data.eco_cost && st_process_data.quantity %>
          <%= lca_format_number(st_process_data.quantity * st_process_data.eco_cost, 4)  %> &euro;
       <% else %>
          -
       <% end %>   
     </td>        
     <td class="center"><%= link_to '&#10006;'.html_safe, st_process_data_path(st_process_data, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>
