<h1><%=_('Graphic results').html_safe%>
</h1>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/se_results/tabs') %>
	</div>
	
	
	<div class="buttons span-23 last">  
    <%= form_tag '/se_results/pdf' do %>
        <input type="hidden" name="se_result_id" id="result_id" value="<%=@se_product.id%>"/>
        <button type="submit" class="positive" style="float:left"> <%= image_tag 'page_white_acrobat.png' %><%= _("Generate PDF").html_safe %></button>
    <% end %>
    </div>	
	
	
   <h6 style="color:#2B4950;font-size:16px;"><b><%=_('Total savings per year').html_safe%></b><a title="<%=_('Negative values are savings, positive values are additional impacts').html_safe%>" href="#" class="tip_left">&nbsp;</a></h6>

   <img 
     alt="" 
     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=a&amp;chd=t:<%=@data_saving_year_to_array%>&amp;chco=<%=@colors_year_to_array%>&amp;chls=2.0&amp;chs=600x150&amp;chxl=1:<%=@labels_saving_year_to_array%>|2:|<%=@legend_saving_year_to_array%>&amp;chxs=1,,11,-1,lt&amp;chm=H,000000,0,0,2&chxp=2,10"
     style="padding-right:20px;padding-bottom:0px;">
     
    <div style="width:600px;text-align:center;font-size:11px;color:888888">
       <%=_('Greenhouse gas emissions t CO2-eq.').html_safe%> 
    </div>

   <br/><br/>

   <h6 style="color:#2B4950;font-size:16px;"><b><%=_('Total savings per product output').html_safe%></b><a title="<%=_('Negative values are savings, positive values are additional impacts').html_safe%>" href="#" class="tip_left">&nbsp;</a></h6>

   <img 
     alt="" 
     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=a&amp;chd=t:<%=@data_saving_product_to_array%>&amp;chco=<%=@colors_product_to_array%>&amp;chls=2.0&amp;chs=600x150&amp;chxl=1:<%=@labels_saving_product_to_array%>|2:|<%=@legend_saving_products_to_array%>&amp;chxs=0N*f8*|1,,11,-1,lt&amp;chm=H,000000,0,0,2&chxp=2,10"
     style="padding-right:20px;padding-bottom:0px;">
     
     
    <div style="width:600px;text-align:center;font-size:11px;color:888888">
       <%=_('Greenhouse gas emissions kg CO2-eq. / kg product output').html_safe%> 
    </div>

   <br/><br/>	
	
  <h6 style="color:#2B4950;font-size:16px;"><b><%=_('Total savings and additional revenue per product output').html_safe%></b><a title="<%=_('Savings and additional revenue are depicted as negative values').html_safe%>" href="#" class="tip_left">&nbsp;</a></h6>

   <img 
     alt="" 
     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=a&amp;chd=t:<%=@data_saving_savings_to_array%>&amp;chco=<%=@colors_savings_to_array%>&amp;chls=2.0&amp;chs=600x130&amp;chxl=1:<%=@labels_saving_savings_to_array%>|2:|<%=@legend_saving_savings_to_array%>&amp;chxs=0N*f3*|1,,11,-1,lt&amp;chm=H,000000,0,0,2&chxp=2,10"
     style="padding-right:20px;padding-bottom:0px;">
     
    <div style="width:600px;text-align:center;font-size:11px;color:888888">
       <%=_('Euro/kg product output').html_safe%> 
    </div>
	
	<br/><br/>	
	
   <h6 style="color:#2B4950;font-size:16px;"><b><%=_('Product output comparison').html_safe%></b></h6>	

   <img 
     alt="" 
     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=a&amp;chd=t:<%=@data_compare_to_array%>&amp;chco=<%=@colors_compare_to_array%>&amp;chls=2.0&amp;chs=600x<%=((9 * 26) / 1) + 32 %>&amp;chxl=1:<%=@labels_compare_to_array%>&amp;chxs=0N*f8*|1,,11,-1,lt&amp;chdl=<%=@legend_compare%>&amp;chm=H,000000,0,0,2"
     style="padding-right:20px;padding-bottom:0px;">
    <div style="width:600px;text-align:center;font-size:11px;color:888888">
       <%=_('Greenhouse gas emissions kg CO2-eq. / kg product output').html_safe%> 
    </div>
	<br/><br/>

    <div class="buttons span-4">
      <a href="<%=se_result_path(@se_product)%>" class="positive"><img alt="Tick" src="/images/tick.png"><%= _("Previous step").html_safe %></a>
    </div>
	<div class="buttons span-19 last">


    <%= form_tag '/se_results/pdf' do %>
        <input type="hidden" name="se_result_id" id="result_id" value="<%=@se_product.id%>"/>
        <button type="submit" class="positive" style="float:left"> <%= image_tag 'page_white_acrobat.png' %><%= _("Generate PDF").html_safe %></button>
    <% end %>
    </div>		


  <div class="clear"></div>
  <div class="navbar">
    <!-- <div id="for-ie"> -->
    <div>
      <ul>
        <li><%= link_to _('To Introduction').html_safe, se_production_intro_path(@product.se_product) %></li>
        <li><%= link_to _('To Data Entry').html_safe, se_manufacturing_path(@product.se_product) %></li>
        <li><%= link_to _('To Data Quality').html_safe, se_data_quality_intro_url(@product.se_product) %></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>


	
</div>	