<h1><%=_('Change your password').html_safe%></h1>


<div class="content_skin">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password, _("New password").html_safe %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, _("Confirm new password").html_safe %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit _("Change my password").html_safe %></p>
<% end %>
</div>