<script type="text/javascript">
      $(document).ready(function(){ 
         <% if @ph_basic_information.id %>      
	         $("#edit_ph_basic_information_<%=@ph_basic_information.id%>").validate({
		   	    rules: {
			      "ph_basic_information[radiation]": {
			                required:true,
			                number:true,
			                range:[500, 3000]
			                },
			      "ph_basic_information[temperature]": {
			                required:true,
			                number:true
			                },
			      "ph_basic_information[co2_factor]": {
			                required:true,
			                number:true
			                },
			      "ph_basic_information[conversion_factor]": {
			                required:true,
			                number:true,
			                range:[0.15, 0.5]
			                },
			      "ph_basic_information[performance_ratio]": {
			                required:true,
			                number:true,
			                range:[0.4, 0.9]
			                },			                
			      "ph_basic_information[ph_country_info_id]": {
			                required:true
			                },
			      "ph_basic_information[ph_mounting_type_id]": {
			                required:true
			                }		                
			                
			    },
				messages: {
                  "ph_basic_information[radiation]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        number:"<%=_('Please enter a number').html_safe%>",
                        range:"<%=_('Please enter a number between 500 and 3000').html_safe%>",
                        },
                  "ph_basic_information[temperature]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        number:"<%=_('Please enter a number').html_safe%>"
                        },
			      "ph_basic_information[co2_factor]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        number:"<%=_('Please enter a number').html_safe%>"
                        },
			      "ph_basic_information[conversion_factor]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        number:"<%=_('Please enter a number').html_safe%>",
                        range:"<%=_('Please enter a number between 0.15 and 0.5').html_safe%>",
                        },
			      "ph_basic_information[performance_ratio]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        number:"<%=_('Please enter a number').html_safe%>",
                        range:"<%=_('Please enter a number between 0.4 and 0.9').html_safe%>",
                        },                                  
			      "ph_basic_information[ph_country_info_id]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        },     
			      "ph_basic_information[ph_mounting_type_id]": {
                        required:"<%=_('This field is mandatory').html_safe%>",
                        }
				}		    
		       });
		  <% else %>      
	         $("#new_product").validate({
		   	    rules: {
			      "product[name]": "required",
			      "product[assessment]": "required"			      
			    },
				messages: {
                  "product[name]": "<%=_('This field is mandatory').html_safe%>",
                  "product[assessment]": "<%=_('This field is mandatory').html_safe%>"
				}		    
		       });
		  <% end %>
       });
       
       
    $(document).ready(function(){
    
        $("#ph_basic_information_working").change(function(){
             var id_value_string = $(this).val();
             if (id_value_string == 'no') {
                $("#known_power_div").hide();
                $("#user_power_div").hide();    
                $("#ph_basic_information_user_power").rules("remove","required");
                $("#ph_basic_information_user_power").rules("remove","number");                      
                                   
             } else {
                $("#known_power_div").show(); 
                 $("#ph_basic_information_know_power").change();   
             }
        });
        
        $("#ph_basic_information_know_power").change(function(){
             var id_value_string = $(this).val();             
             if (id_value_string == 'no') {
                $("#user_power_div").hide(); 
                $("#ph_basic_information_user_power").rules("remove","required");
                $("#ph_basic_information_user_power").rules("remove","number");                      
                               
             } else {
                $("#user_power_div").show();   
	 	          $("#ph_basic_information_user_power").rules("add", {
			         required: true,    
			         number:true,
			         messages: {
			           required: "<%=_('This field is mandatory').html_safe%>",
			           number:"<%=_('Please enter a number').html_safe%>"
			           }         
			      });                                  
             }
             
        });
        
        $("#ph_basic_information_country_info_id").change(function(){
           var id_value_string = $(this).val();
           if (id_value_string != "") {
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/ajax_helpers',
                    data: {id: id_value_string, type: 'country_co2'},
                    timeout: 5000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                        alert(error);
                    },
                    success: function(data){
                       document.getElementById("ph_basic_information_co2_factor").value = "" + data; 
                       }
                    }); 
              }
         });   
         $("#ph_basic_information_country_info_id").change();      
         $("#ph_basic_information_working").change();
       });  
       
</script>

<h1><%=_('Project Planning').html_safe%>
</h1>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/lca/ph_tabs') %>
	</div>

<%= form_for(@ph_basic_information) do |f| %>	     
  <% if @ph_basic_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ph_basic_information.errors.count, "error") %> prohibited this ph_basic_information from being saved:</h2>

      <ul>
      <% @ph_basic_information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/><br/>
  
  <%=_('Some information should be initially known to the project planner. Some data (e.g. irradiation) should be gathered from external tools or known from previous projects. Primary Energy and Emission-Factor for experts only. If the assessment is being done for a system that is already running, the yearly power output should be given. If it is given, it replaces all approximations (Radiation, Surface Temperature, Performance Ratio and Module Efficiency don\'t have to be entered). For further information, see the E-Learning').html_safe%>

  <br/><br/>
  <div class="field">
    <%=_('Is your assessment for a working system?').html_safe%> <a title="<%=_('Is the system already installed?').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <select id="ph_basic_information_working" name="ph_basic_information[working]">
        <% if @ph_basic_information.working == 'yes' %>
           <option selected="true" value="yes"><%=_('Yes').html_safe%></option>
        <% else %>   
           <option value="yes"><%=_('Yes').html_safe%></option>
        <% end %>   
        <% if @ph_basic_information.working == 'no' %>
           <option selected="true" value="no"><%=_('No').html_safe%></option>
        <% else %>
           <option value="no"><%=_('No').html_safe%></option>
        <% end %>
    </select>
  </div>

  <div class="field" id="known_power_div">
    <%=_('Do you know your yearly power output [kWh/a]?').html_safe%><br />
    <select id="ph_basic_information_know_power" name="ph_basic_information[know_power]">
        <% if @ph_basic_information.know_power == 'yes' %>
           <option selected="true" value="yes"><%=_('Yes').html_safe%></option>
        <% else %>   
           <option value="yes"><%=_('Yes').html_safe%></option>
        <% end %>   
        <% if @ph_basic_information.know_power == 'no' %>
           <option selected="true" value="no"><%=_('No').html_safe%></option>
        <% else %>
           <option value="no"><%=_('No').html_safe%></option>
        <% end %>
    </select>
  </div>

  <div class="field" id="user_power_div">
    <%=_('Yearly power output').html_safe%> <a title="<%=_('Annual kWh electricity produced from system').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <%= f.text_field :user_power %> <%=_('kWh/a').html_safe%>
  </div>


  
  <div class="field">
    <%=_('Country/region of use').html_safe%> <a title="<%=_('Where is the system installed /will be installed').html_safe%>" href="#" class="tip">&nbsp;</a><br />
     <select id="ph_basic_information_country_info_id" name="ph_basic_information[ph_country_info_id]">
         <option value=""><%=_('Select value').html_safe%></option>
	     <% @ph_country_infos.each do |ph_country_info| %>
	        <% if @ph_basic_information.ph_country_info && @ph_basic_information.ph_country_info.id == ph_country_info.id %>
	           <option selected="true" value="<%=ph_country_info.id%>"><%=ph_country_info.name.html_safe%></option>
	        <% else %>
	           <option value="<%=ph_country_info.id%>"><%=ph_country_info.name.html_safe%></option>
	        <% end %>   
	     <% end %>
     </select>          
  </div>
  <div class="field">
    <%=_('Radiation, yearly on PV modules').html_safe%> <a title="<%=_('Between 500 and 3000 depending on the location of the system').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <%= f.text_field :radiation %> <%=_('kWh/(m<sup>2</sup>*a)').html_safe%>
  </div>
  <div class="field">
    <%=_('Average Module Surface Temperature').html_safe%> <a title="<%=_('Usually between 20 &deg;C - 30 &deg;C above the ambient air temperature').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%=_('Type of Mounting').html_safe%> <a title="<%=_('How is the system installed and mounted?').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <select id="ph_basic_information_mounting_type_id" name="ph_basic_information[ph_mounting_type_id]">
        <option value=""><%=_('Select value').html_safe%></option>
	    <% @ph_mounting_types.each do |ph_mounting_type| %>
	       <% if @ph_basic_information.ph_mounting_type && @ph_basic_information.ph_mounting_type.id == ph_mounting_type.id %>	    
	          <option selected="true" value="<%=ph_mounting_type.id%>"><%=ph_mounting_type.name.html_safe%></option>
	       <% else %>
              <option value="<%=ph_mounting_type.id%>"><%=ph_mounting_type.name.html_safe%></option>
	       <% end %>
	    <% end %>
    </select>          
  </div>
  <div class="field">
    <%=_('Averaged Performance Ratio (Default is 0,75) - should include additional shading, module and electrics degradation').html_safe%> <a title="<%=_('Ratio between actual readings of the system and calculated,nominal module output').html_safe%>" href="#" class="tip_right">&nbsp;</a><br />
      <%= f.text_field :performance_ratio %> <%=_('kWh/(m<sup>2</sup>*a)').html_safe%>
  </div>
  <div class="field">
    <%=_('What is known to you by now?').html_safe%><%=_(' (If the assessment is for a working system, please chose the  total module surface area)').html_safe%><br />
    <select id="ph_basic_information_known" name="ph_basic_information[known]">
        <% if @ph_basic_information.known == 'power_demand' %>
           <option selected="true" value="power_demand"><%=_('Power demand').html_safe%></option>
        <% else %>
           <option value="power_demand"><%=_('Power demand').html_safe%></option>
        <% end %>   
        <% if @ph_basic_information.known == 'total_surface' %>        
           <option selected="true" value="total_surface"><%=_('Total Modules Surface Area').html_safe%></option>
        <% else %>
           <option value="total_surface"><%=_('Total Modules Surface Area').html_safe%></option>
        <% end %>
    </select>
    <br/>
    
  </div>

  <div class="field">
    <%=_('Framed/Panel?').html_safe%> <a title="<%=_('Is the system framed?').html_safe%>" href="#" class="tip_right">&nbsp;</a><br />
    <select id="ph_basic_information_framed" name="ph_basic_information[framed]">
        <% if @ph_basic_information.framed == 'yes' %>
           <option selected="true" value="yes"><%=_('Yes').html_safe%></option>
        <% else %>   
           <option value="yes"><%=_('Yes').html_safe%></option>
        <% end %>   
        <% if @ph_basic_information.framed == 'no' %>
           <option selected="true" value="no"><%=_('No').html_safe%></option>
        <% else %>
           <option value="no"><%=_('No').html_safe%></option>
        <% end %>
    </select>
  </div>
  
  <div class="field">
    <%=_('CO2-Factors (Automatic by Country of Use)').html_safe%> <a title="<%=_('This is a country specific factor which indicates how many g CO2 is being emitted for generating one kwh of electricity in this country').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <%= f.text_field :co2_factor %> <%=_('g CO2/kWh').html_safe%>
  </div>
  <div class="field">
    <%=_('Conversion Factor Electricity <-> Primary Energy').html_safe%> <a title="<%=_('This is a country specific factor which indicates how many MJ electricity is being produced per MJ primary energy in this country').html_safe%>" href="#" class="tip">&nbsp;</a><br />
    <%= f.text_field :conversion_factor %> <%=_('MJ_EL/MJ_PE').html_safe%>
  </div>
  
  <div class="buttons" style="float:left">
     <button type="submit" class="positive"> <%= image_tag 'tick.png' %><%= _("Next step").html_safe %></button>
   </div>

  </div>
  <div class="clear"></div>

  <div class="navbar">
   <!-- <div id="for-ie"> -->
    <div>
      <ul>
        <li><%= link_to _('To Introduction').html_safe, ph_production_intro_path(@ph_product) %></li>
        <li><%= link_to _('To Data Quality').html_safe, ph_data_quality_intro_path(@ph_product) %></li>
        <li><%= link_to _('To Results').html_safe, ph_result_summary_path(@ph_product) %></li>
      </ul>
    </div>
  </div>
  <br/>
  
<% end %>

</div>
