<tr id="assesment_<%= electronic_economic.id %>">
  <td><%= electronic_economic.economical_phase.name.html_safe %></td>
  <% if electronic_economic.economical_family %>
     <td><%= electronic_economic.economical_family.name.html_safe %></td>
  <% else %>   
     <td>&nbsp;</td>
  <% end %>
  <% if electronic_economic.material %>  
     <td><%= electronic_economic.material.name.html_safe %></td>
  <% else %>
     <% if electronic_economic.energy_type %>
        <td><%= electronic_economic.energy_type.name.html_safe %></td>
     <% else %>  
        <td>&nbsp;</td>
     <% end %>   
  <% end %>
  <td><%= electronic_economic.quantity %></td>  
  <% if electronic_economic.material || electronic_economic.energy_type%>  
     <td>&euro; / <%= electronic_economic.unit.html_safe %></td>
  <% else %>
     <td>&nbsp;</td>
  <% end %>   

  <td class="center"><%= link_to '&#10006;'.html_safe, electronic_economic_path(electronic_economic, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>

