<tr id="st_consumable_data_<%= st_consumable_data.id %>">
     <td>
	      <% if st_consumable_data.st_family %>
			<%= st_consumable_data.st_family.name.html_safe %>
	      <% end %>		
     </td>
     <td>
	      <% if st_consumable_data.st_material %>
			<%= st_consumable_data.st_material.name.html_safe %>
	      <% end %>		

     </td>
     <td>
          <%= st_consumable_data.quantity %>
     </td>
     <td>
	      <% if st_consumable_data.st_material %>
			<%= st_consumable_data.st_material.unit.html_safe %>
	      <% end %>		

     </td>
     
     <td>
       <% if st_consumable_data.eco_cost %>
          <%= lca_format_number(st_consumable_data.quantity * st_consumable_data.eco_cost, 4)  %> &euro;
       <% else %>
          -
       <% end %>   
     </td>         
     <td class="center"><%= link_to '&#10006;'.html_safe, st_consumable_data_path(st_consumable_data, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>
