<tr id="st_consumption_data_<%= st_consumption_data.id %>">
     <td>
	      <% if st_consumption_data.st_energy_type %>
			<%= st_consumption_data.st_energy_type.name.html_safe %>
	      <% end %>		
     </td>
     <td>
	      <% if st_consumption_data.st_energy_source %>
			<%= st_consumption_data.st_energy_source.name.html_safe %>
	      <% end %>		

     </td>
     <td>
          <%= st_consumption_data.quantity %>
     </td>
     <td>
	      <% if st_consumption_data.st_energy_type %>
			<%= st_consumption_data.st_energy_type.unit.html_safe %>
	      <% end %>		
     </td>
     
     <td>
       <% if st_consumption_data.eco_cost %>
          <% if !st_consumption_data.st_energy_type || st_consumption_data.st_energy_type.name == 'Electricity' || st_consumption_data.st_energy_type.name == 'Heat' %>
             <%= lca_format_number(st_consumption_data.quantity * st_consumption_data.eco_cost, 4)  %> &euro;
          <% else %>
              <%= lca_format_number(st_consumption_data.quantity * st_consumption_data.eco_cost * st_consumption_data.charges *  (@lifetime_hidden + @end_of_life_lifetime), 4)  %> &euro;
          <% end %>
       <% else %>
          -
       <% end %>   
     </td>        
     <td class="center"><%= link_to '&#10006;'.html_safe, st_consumption_data_path(st_consumption_data, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>
