<tr id="mt_predefined_supplier_data_<%= mt_predefined_supplier_data.id %>">
     <td>
	      <% if mt_predefined_supplier_data.mt_family %>
			<%= mt_predefined_supplier_data.mt_family.name.html_safe %>
	      <% end %>		
     </td>
     <td>
	      <% if mt_predefined_supplier_data.mt_material %>
			<%= mt_predefined_supplier_data.mt_material.name.html_safe %>
	      <% end %>		

     </td>
	 <% if mt_predefined_supplier_data.mt_material %>
	   <% if mt_predefined_supplier_data.mt_material.unit == 'kg'%>     
          <td id="td_quantity_supplier_<%= mt_predefined_supplier_data.id %>" class="quantity_<%= mt_predefined_supplier_data.id %>">
       <% else %>
          <td class="quantity_<%= mt_predefined_supplier_data.id %>">
       <% end %>
     <% else %>
       <td class="quantity_<%= mt_predefined_supplier_data.id %>">
     <% end %>
          <%= mt_predefined_supplier_data.quantity %>
     </td>
     <script type="text/javascript">
		   $(".quantity_<%= mt_predefined_supplier_data.id %>").editInPlace({
		        url: "/mt_predefined_supplier_datas/update_values" + "?&authenticity_token=" + encodeURIComponent(AUTH_TOKEN),
		        params: "mt_predefined_supplier_data_id=<%=mt_predefined_supplier_data.id%>",
		        saving_text: '<%=_("Saving...")%>'
		        });           
     </script>       
     <td>
	      <% if mt_predefined_supplier_data.mt_material %>
			<%= mt_predefined_supplier_data.mt_material.unit.html_safe %>
	      <% end %>		
     </td>
     <td>
	      <% if mt_predefined_supplier_data.mt_transport_type %>
			<%= mt_predefined_supplier_data.mt_transport_type.name.html_safe %>
	      <% end %>		
     </td>
     <td class="distance_<%= mt_predefined_supplier_data.id %>">
          <%= mt_predefined_supplier_data.distance %>
     </td>
     <script type="text/javascript">
		   $(".distance_<%= mt_predefined_supplier_data.id %>").editInPlace({
		        url: "/mt_predefined_supplier_datas/update_distance" + "?&authenticity_token=" + encodeURIComponent(AUTH_TOKEN),
		        params: "mt_predefined_supplier_data_id=<%=mt_predefined_supplier_data.id%>",
		        saving_text: '<%=_("Saving...")%>'
		        });           
     </script>       
     
     <td>
          <%=_('km').html_safe%>
     </td>
     <td class="center"><%= link_to '&#10006;'.html_safe, mt_predefined_supplier_data_path(mt_predefined_supplier_data, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>
