<h1>Listing bp_economics</h1>

<table>
  <tr>
    <th>Bp product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bp_economics.each do |bp_economic| %>
  <tr>
    <td><%= bp_economic.bp_product_id %></td>
    <td><%= link_to 'Show', bp_economic %></td>
    <td><%= link_to 'Edit', edit_bp_economic_path(bp_economic) %></td>
    <td><%= link_to 'Destroy', bp_economic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bp economic', new_bp_economic_path %>
