<!-- #TODO: check links! -->
<ul>
  <% if @product.id %>
     <li><%= tab_link_to _('Materials').html_safe, st_material_detail_path(@product.st_product), :product => @product, :index => 1 %></li>
     <li style="padding-top:10px;padding-bottom:10px"> > </li>
     <li><%= tab_link_to _('Manufacturing').html_safe, st_manufacturing_path(@product.st_product), :product => @product, :index => 2 %></li>
     <li style="padding-top:10px;padding-bottom:10px"> > </li>
     <li><%= tab_link_to _('Distribution').html_safe, st_distribution_path(@product.st_product), :product => @product, :index => 3 %></li>
     <li style="padding-top:10px;padding-bottom:10px"> > </li>
     <li><%= tab_link_to _('Use').html_safe, st_use_path(@product.st_product), :product => @product, :index => 4 %></li>
     <li style="padding-top:10px;padding-bottom:10px"> > </li>
     <li><%= tab_link_to _('End-of-life').html_safe, st_end_of_life_path(@product.st_product), :product => @product, :index => 5 %></li>

   <% end %>               
<div class="clear"></div>
</ul>
