<tr id="mt_supplier_data_<%= mt_supplier_data.id %>">
     <td>
	      <% if mt_supplier_data.mt_family %>
			<%= mt_supplier_data.mt_family.name.html_safe %>
	      <% end %>		
     </td>
     <td>
	      <% if mt_supplier_data.mt_material %>
			<%= mt_supplier_data.mt_material.name.html_safe %>
	      <% end %>		

     </td>
	 <% if mt_supplier_data.mt_material %>
	   <% if mt_supplier_data.mt_material.unit == 'kg'%>     
          <td id="td_quantity_supplier_<%= mt_supplier_data.id %>">
       <% else %>
          <td>
       <% end %>
     <% else %>
       <td>
     <% end %>
          <%= mt_supplier_data.quantity %>
     </td>
     <td>
	      <% if mt_supplier_data.mt_material %>
			<%= mt_supplier_data.mt_material.unit.html_safe %>
	      <% end %>		
     </td>     
     <td class="center"><%= link_to '&#10006;'.html_safe, mt_supplier_data_path(mt_supplier_data, :authenticity_token => form_authenticity_token), :method => :delete, :class => "delete", :remote => true  %></td>
</tr>
