<h1><%=_('Product Assessment').html_safe%>
<br/><span class="tool_subtitle"><%=_('Summary Report').html_safe%></span>
</h1>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/results/tabs') %>
	</div>
Coming soon...	


  <div class="clear"></div>
  <div class="navbar">
    <!-- <div id="for-ie"> -->
    <div>
      <ul>
        <li><%= link_to _('To Introduction').html_safe, production_intro_path(@product) %></li>
        <li><%= link_to _('To Data Entry').html_safe, scenario_url(@product) %></li>
        <li><%= link_to _('To Data Quality').html_safe, data_quality_intro_path(@product) %></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

	
</div>	