<h1>Listing data_qualities</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Materials</th>
    <th>Manufacturing</th>
    <th>Distribution</th>
    <th>Use</th>
    <th>End of life</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_qualities.each do |data_quality| %>
  <tr>
    <td><%= data_quality.product_id %></td>
    <td><%= data_quality.materials %></td>
    <td><%= data_quality.manufacturing %></td>
    <td><%= data_quality.distribution %></td>
    <td><%= data_quality.use %></td>
    <td><%= data_quality.end_of_life %></td>
    <td><%= link_to 'Show', data_quality %></td>
    <td><%= link_to 'Edit', edit_data_quality_path(data_quality) %></td>
    <td><%= link_to 'Destroy', data_quality, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data quality', new_data_quality_path %>
