<h1><%=_('Graphic results').html_safe%>
</h1>
<script type="text/javascript">
   function showAbsolute() {
      document.getElementById("percentage_graph").style.display = 'none';
      document.getElementById("absolute_graph").style.display = 'block';      
   }
   function showPercentage() {
      document.getElementById("percentage_graph").style.display = 'block';
      document.getElementById("absolute_graph").style.display = 'none';      
   }
   
</script>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/bp_results/tabs') %>
	</div>

	<div class="buttons span-23 last">  
    <%= form_tag '/bp_results/pdf' do %>
        <input type="hidden" name="bp_result_id" id="bp_result_id" value="<%=@bp_product.id%>"/>
        <button type="submit" class="positive" style="float:left"> <%= image_tag 'page_white_acrobat.png' %><%= _("Generate PDF").html_safe %></button>
    <% end %>
    </div>	


<div id="percentage_graph">
<% @combineds.each_with_index do |combined, index| %>
	    <% if @sort == 'no'
	         values = combined.collect {|x| x[0] }
	         ticks = combined.collect {|x| x[1] }.reverse      
	         seriesColors = combined.collect {|x| x[2] }
	       end 
	       if @sort == 'asc'
	         values = combined.collect {|x| x[0] }
	         ticks = combined.collect {|x| x[1] }.reverse    
	         seriesColors = combined.collect {|x| x[2] }  
	       end
	       if @sort == 'desc' 
	          values = combined.collect {|x| x[0] }
	          ticks = combined.collect {|x| x[1] }.reverse
	          seriesColors = combined.collect {|x| x[2] }
	       end 
	       ticks_to_array = ""
	       ticks.each do |tick|
	          ticks_to_array += "|" + tick.to_s
	       end
	       values_to_array = ""
	       values.each_with_index do |value, index|
	          if (index + 1) < values.size
	             values_to_array += value.to_s + ","
	          else
	             values_to_array += value.to_s
	          end   
	       end	   
	       seriesColors_to_array = ""
	       seriesColors.each_with_index do |seriesColor, index|	 
	           if (index + 1) < seriesColors.size      
	       	      seriesColors_to_array += seriesColor.to_s.gsub("#","") + "|"
	       	   else 
	       	      seriesColors_to_array += seriesColor.to_s.gsub("#","")
	       	   end   
	       end
       min = combined.sort_by { |x| x[0] }.collect {|x| x[0] }[0]
       max = combined.sort_by { |x| x[0] }.collect {|x| x[0] }.reverse[0]
       
       num_ticks = 0 
       i = 0
       if max
	       while i < max
	          i += 10
	       end
	   end    
       max = i
       if i > 100
          max = (i + 10)
       end
       if max < 100
          max = 100
       end
       max = 110
       if !min || min > 0
          min = 0
       else   
          modulo = min.modulo(10)
          min -= modulo
       end	       
	   max_min_array = ""
	   min_tmp = min
	   while min_tmp <= max
	      max_min_array += "|" + min_tmp.to_s
	      min_tmp += 10
	   end
	    %>
   <h6 style="color:#2B4950;font-size:16px;"><b><%=@indicators_checked[index].name.html_safe%> (<%=@indicators_checked[index].unit.html_safe%>)</b></h6>   
   <a href="javascript:showAbsolute();"><%=_('Numbers').html_safe%></a> / <%=_('Percentages').html_safe%><br/>
   <div class="clear"></div>
   <img 
     alt="" 
     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=<%=min%>,<%=max%>&amp;chd=t:<%=values_to_array%>&amp;chco=<%=seriesColors_to_array%>&amp;chls=2.0&amp;chs=600x<%=((@labels.size * 26) / @indicators_checked.size) + 32 %>&amp;chxl=0:<%=max_min_array%>|1:<%=ticks_to_array%>&amp;chm=N*f0*%,000000,0,-1,11,,:10:&amp;chxs=1,,11,-1,lt"
     style="padding-right:20px;padding-bottom:40px;">
   
   <br/>
   <% end %>   
</div>

<div id="absolute_graph" style="display:none">
<% @combineds_absolute.each_with_index do |combined, index| %>
	    <% if @sort == 'no'
	         values = combined.collect {|x| x[0] }
	         ticks = combined.collect {|x| x[1] }.reverse      
	         seriesColors = combined.collect {|x| x[2] }
	       end 
	       if @sort == 'asc'
	         values = combined.collect {|x| x[0] }
	         ticks = combined.collect {|x| x[1] }.reverse    
	         seriesColors = combined.collect {|x| x[2] }  
	       end
	       if @sort == 'desc' 
	          values = combined.collect {|x| x[0] }
	          ticks = combined.collect {|x| x[1] }.reverse
	          seriesColors = combined.collect {|x| x[2] }
	       end 
	       ticks_to_array = ""
	       ticks.each do |tick|
	          ticks_to_array += "|" + tick.to_s
	       end
	       values_to_array = ""
	       values.each_with_index do |value, index|
	          if (index + 1) < values.size
	             values_to_array += value.to_s + ","
	          else
	             values_to_array += value.to_s
	          end   
	       end	   
	       seriesColors_to_array = ""
	       seriesColors.each_with_index do |seriesColor, index|	 
	           if (index + 1) < seriesColors.size      
	       	      seriesColors_to_array += seriesColor.to_s.gsub("#","") + "|"
	       	   else 
	       	      seriesColors_to_array += seriesColor.to_s.gsub("#","")
	       	   end   
	       end
       min = combined.sort_by { |x| x[0] }.collect {|x| x[0] }[0]
       max = combined.sort_by { |x| x[0] }.collect {|x| x[0] }.reverse[0]
       num_ticks = 0 
       i = 0
       if !min || min > 0
          min = 0
       end	       
	   max_min_array = ""
	   min_tmp = min
	   step = (max - min) / 10
	   max += step
	
   if step <= 0
     step = 10
   end
	    
	   while min_tmp <= max
	      if max > 5
	         max_min_array += "|" + min_tmp.to_i.to_s
	      else
	         max_min_array += "|" + min_tmp.round(2).to_s
	      end 
	      min_tmp += step
	   end

	   if (min_tmp - step).to_i != max.to_i
		   if max > 5
	          max_min_array += "|" + min_tmp.to_i.to_s
	       else
	          max_min_array += "|" + min_tmp.round(2).to_s
	       end
	   end  	   
	   
	    %>
   <h6 style="color:#2B4950;font-size:16px;"><b><%=@indicators_checked[index].name.html_safe%> (<%=@indicators_checked[index].unit.gsub('','').gsub('','').html_safe%>)</b></h6>
   &nbsp;<%=_('Numbers').html_safe%> / <a href="javascript:showPercentage();"><%=_('Percentages').html_safe%></a><br/>
   <div class="clear"></div>    
   
   <% if max > 1 %>	    
	   <img 
	     alt="" 
	     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=<%=min%>,<%=max%>&amp;chd=t:<%=values_to_array%>&amp;chco=<%=seriesColors_to_array%>&amp;chls=2.0&amp;chs=600x<%=((@labels.size * 26) / @indicators_checked.size) + 32 %>&amp;chxl=0:<%=max_min_array%>|1:<%=ticks_to_array%>&amp;chm=N*f2*,000000,0,-1,11,,:10:&amp;chxs=1,,11,-1,lt"
	     style="padding-right:20px;padding-bottom:40px;">
   <% else %>
	   <img 
	     alt="" 
	     src="https://chart.googleapis.com/chart?chf=bg,s,EBEEDB|c,s,FFFDF6&amp;chbh=18&amp;chts=2B4950,16,l&amp;chxt=x,y&amp;cht=bhg&amp;chds=<%=min%>,<%=max%>&amp;chd=t:<%=values_to_array%>&amp;chco=<%=seriesColors_to_array%>&amp;chls=2.0&amp;chs=600x<%=((@labels.size * 26) / @indicators_checked.size) + 32 %>&amp;chxl=0:<%=max_min_array%>|1:<%=ticks_to_array%>&amp;chm=N*f3*,000000,0,-1,11,,:10:&amp;chxs=1,,11,-1,lt"
	     style="padding-right:20px;padding-bottom:40px;">   
   <% end %>   
   <br/><br/>   
   <% end %>   
</div>
	<div class="buttons" style="float:left">
      <%= form_tag '/bp_results/pdf' do %>
       <a href="<%=bp_result_path(@bp_product)%>" class="positive"><img alt="Tick" src="/images/tick.png"><%= _("Previous step").html_safe %></a>

        <input type="hidden" name="bp_result_id" id="bp_result_id" value="<%=@bp_product.id%>"/>
        <button type="submit" class="positive" style="margin-left:10px"> <%= image_tag 'page_white_acrobat.png' %><%= _("Generate PDF").html_safe %></button>
    <% end %>
    </div>	

  <div class="buttons" style="float:right">
     <a href="<%=bp_comparison_url(@bp_product)%>" class="positive"><img alt="Tick" src="/images/tick.png"><%= _("Next step").html_safe %></a>
   </div>

    <div class="clear"></div>
    <div class="navbar">
      <!-- <div id="for-ie"> -->
      <div>
        <ul>
          <li><%= link_to _('To Introduction').html_safe, bp_production_intro_path(@bp_product) %></li>
          <li><%= link_to _('To Data Entry').html_safe, bp_production_url(@bp_product) %></li>
          <li><%= link_to _('To Data Quality').html_safe, bp_data_quality_intro_path(@bp_product) %></li>
          <li><%= link_to _('To Economic Data'), bp_economic_url(@bp_product) %></li>
        </ul>
      </div>
    </div>


    <div class="clear"></div>


</div>	