<script type="text/javascript">
  var checkflag = "false";
  function initial_value(field) {
        var title = "<%=_('Unselect all')%>";
        checkflag = "true";
		if( document.getElementsByTagName ) {
		    tableCells = document.getElementsByTagName('input');
		    } else if( document.all && document.all.tags ) {
		    tableCells = document.all.tags('input');
		    }

		if( tableCells ) {
		   for (var i = 0; i < tableCells.length; i++) {
		   if (tableCells[i] != null) {
		       if (tableCells[i].id) {		               
		          if (tableCells[i].id.match(/^product_indicator_ids_/) != null) {
		              if (!tableCells[i].checked) {
		                 title = "<%=_('Select all')%>";
		                 checkflag = "false";
		                 }
  		              }
		           }
		        }
		     }
		  }              
       return title;
  }
  
  function check(field) {
		if( document.getElementsByTagName ) {
		    tableCells = document.getElementsByTagName('input');
		    } else if( document.all && document.all.tags ) {
		    tableCells = document.all.tags('input');
		    }
		if( tableCells ) {
		   for (var i = 0; i < tableCells.length; i++) {
		   if (tableCells[i] != null) {
		       if (tableCells[i].id) {         
		          if (tableCells[i].id.match(/^product_indicator_ids_/) != null) {
		              if (checkflag == "false") {
		                 tableCells[i].checked = true;
		                 } else {
		                 tableCells[i].checked = false;
		                 }
		              }
		           }
		        }
		     }
		  }              
  
  
    if (checkflag == "false") {
      checkflag = "true";
      return "<%=_('Unselect All')%>"; 
      } else {
      checkflag = "false";
      return "<%=_('Select All')%>"; 
       }
}  

   function doSubmit(result_type) {
      document.getElementById("result_type").value = result_type;
      document.forms[0].submit();
   }

</script>
<h1><%=_('Product Assessment').html_safe%>
<br/><span class="tool_subtitle"><%=_('Data Entry').html_safe%></span>
</h1>
<div class="content_skin">
	<div class="lcamenu span-23 showdgrid last ">
	  <%= render(:partial => 'shared/lca/tabs') %>
	</div>
	<% form_for @product do |f| %>
	
     <input class="positive_button" id="check_all_button" type="button" value="<%=_('Select all')%>" onClick="this.value=check(this.form.booklabel)">	
	 <input type="hidden" name="from_indicators" id="from_indicators" value=""/>
	 <input type="hidden" name="product[id]" id="product_id" value="<%=@product.id%>"/>
	 <input type="hidden" name="result_type" id="result_type" value=""/>
	 <br/><br/>

	<table class="standard2" style="margin-top:0px">
	    <tr>
	      <th></th>
	      <th><%=_('Indicator').html_safe%></th>
	      <th><%=_('Acronym').html_safe%></th>	      
	      <th><%=_('Unit').html_safe%></th>	      	      
	      <th><%=_('Comment').html_safe%></th>
	    </tr>	
	<% for indicator in @indicators %>
        
		<tr>	
		 <% if @product.indicators.size == 0 %>
	       <td><%= check_box_tag "product[indicator_ids][]", indicator.id, true %></td>
	     <% else %>
	       <td><%= check_box_tag "product[indicator_ids][]", indicator.id, @product.indicators.include?(indicator) %></td>
	     <% end %>  
	     <td><%= indicator.name.html_safe %></td>
	     <td><%= indicator.abbr %></td>	     
	     <td><%= indicator.unit.html_safe %></td>	     
	     <td><%= indicator.comment.html_safe %></td>
	    </tr> 
	
	<% end %>
	</table>
	
	
   <p style="font-size:11px; font-style:italic;"><%=_('Note: Minimum resource consumption. This is only a selection of key material content in most relevant key components; only to be used for a conservative estimate of resource savings compared to other product concepts.').html_safe%></p>	
	
	<br/>

     <div class="buttons span-5" style="margin-top:0px;width:168px;margin-right:0px">
	  <button type="button" class="positive" style="margin-right:0px" onClick="javascript:doSubmit('lifecycle')"><%= image_tag 'tick.png' %><%=_('Generate results').html_safe%>
	  </button>
       &nbsp;
	 </div>
      <div style="margin-top:5px">
	 <%=_('or')%>&nbsp;<a href="javascript:clearForm(document.forms[0]);"><%=_('Cancel').html_safe%></a>
      </div>
	<% end %>
	<br/><br/>



  <div class="clear"></div>
  <div class="navbar">
    <div>
      <ul>
        <li><%= link_to _('To Introduction').html_safe, production_intro_path(@product) %></li>
        <li><%= link_to _('To Data Quality').html_safe, data_quality_intro_path(@product) %></li>
        <li><%= link_to _('To Results').html_safe, product_result_url(@product) %></li>
      </ul>
    </div>
  </div>


  <div class="clear"></div>


</div>
