<p><%=_('Hello').html_safe%> <%= @resource.email %>!</p>

<p><%=_('Someone has requested a link to change your password, and you can do this through the link below.').html_safe%></p>

<p><%= link_to _('Change my password').html_safe, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=_('If you didn\'t request this, please ignore this email.').html_safe%></p>
<p><%=_('Your password won\'t change until you access the link above and create a new one.').html_safe%></p>
