<h1><%=_('About the LCAtogo Tool').html_safe%></h1>
<div class="content_skin">
<%=_('The LCA to go project (').html_safe%><a href="http://www.lca2go.eu" target="_blank">http://www.lca2go.eu</a><%=_(') invites European SMEs (small and medium sized enterprises) of different sectors to apply environmental assessment. To spread the use of LCA (life cycle assessment) across Europe, specific and simple calculation tools have been developed for the following industrial sectors:').html_safe%><br/><br/>
<%=_('- Industrial machines').html_safe%><br/>
<%=_('- Electronics').html_safe%><br/>
<%=_('- Printed Circuit Boards').html_safe%><br/>
<%=_('- Renewable Energy - Photovoltaics').html_safe%><br/>
<%=_('- Semiconductors').html_safe%><br/>
<%=_('- Sensors').html_safe%><br/>
<%=_('- Smart Textiles').html_safe%><br/><br/>
<%=_('The LCAtogo Tool supports SMEs in conducting the environmental assessment of their products, based on LCA and considering their entire life cycle.').html_safe%><br/>
<%=_('To simplify the analysis of the results, Key Performance Indicators (KEPIs) has been defined for each sector.').html_safe%><br/>
<%=_('If you want to use this web-based tool, just register, select your industrial sector and start using the tool.').html_safe%><br/>

</div>